.gallery {
  background-color: black;
  width: 80%;
  margin: 100px auto;
  overflow: hidden;
}

.gallery ul li {
  list-style: none;
  float: left;
  width: 16%;
  margin: 4% 4% 4% 0%;
}

.gallery ul li a img {
  max-width: 100%;
  border: 2px solid #FFFFFF;
}

.gallery ul li a img.third {
  border: 5px solid #00FFFF;
  margin: -5px;
}
